---
title: Devenir Animateur UNIT, le job 100% flexible
---

<!-- wrapper -->
	<div id="wrapper-anim" class="wrapper text-center">
		<h1>Le job étudiant 100% flexible</h1>
		<p>Deviens ton propre patron : poste une séance <strong>quand t'es dispo</strong> et finance toi tes études !</p>
		<div class="padded-top"><a href="#" class="btn btn-primary btn-lg btn-animateurs" data-toggle="modal" data-target=".com-animateurs">Rejoins la communauté des Animateurs</a></div>
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<%= image_tag "google-soon.png" %>
				</div>
				<div class="col-xs-6">
					<%= image_tag "apple-soon.png" %>
				</div>
			</div>	
		</div>
	</div>

<!-- decription -->
	<div id="quoi-anim" class="container padded bg-white">
		
		<h2 class="text-center">Qui peut devenir Animateur ?</h2>
		<p>UNIT est une application pour les jeunes sportifs, mais n'importe qui ne peut pas encadrer les séances. En plus des critères de politesse élémentaires, tels que la ponctualité ou la gentillesse, tu dois remplir deux conditions cumulatives :</p>
		<p><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Avoir une carte professionnelle :</span> pour encadrer une pratique sportive contre rémunération, il faut avoir un permis !</p>
		<p><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Avoir le statut d'autoentrepreneur :</span> UNIT n'est pas ton boss, et tu dois avoir ce statut pour déclarer tes revenus...</p>
		<p>Pour toute information complémentaire, n'hésite pas à nous contacter et nous nous ferons un plaisir de te répondre ! </p>

		<div class="padded-top text-center"><a href="#" class="btn btn-primary btn-lg btn-animateurs" data-toggle="modal" data-target=".com-animateurs">Rejoins la communauté des Animateurs</a></div>
	</div>

<!-- fonctionnement -->
	<div id="fonctionnement-anim" class="container padded bg-blue fonctionnement">
		<div class="app-text text-center">
			<h2>Fonctionnement de l'app</h2>
			<p>Grâce à l'app simple et intuitive, poster une séance n'a jamais été aussi simple</p>
		</div>
		<div class="application row">
			<div class="col-xs-12 col-md-5">
				<div id="poster-photo" class="application-photo">
					<%= image_tag "poster.png" %>
				</div>
				<div id="accepter-photo" class="application-photo">
					<%= image_tag "accepter.png" %>
				</div>
				<div id="payer-photo" class="application-photo">
					<%= image_tag "payer.png" %>
				</div>
			</div>
			<div class="col-xs-12 col-md-7">
				<ul class="list-unstyled">
					<li>
						<div id="poster-text" class="application-text active">
							<a href="#photo1">
							<h3 id="poster-header">1. Poste ta séance</h3>
							<p id="poster-p">Poste quand tu es disponible en fonction de 3 critères... et c'est tout !</p>
							</a>
						</div>
					</li>
					<li>
						<div id="accepter-text" class="application-text">
							<a href="#photo2">
							<h3 id="accepter-header">2. Accepte les réservations</h3>
							<p id="accepter-p">C'est toi le chef, choisis même qui tu encadres en fonction du profil</p>
							</a>
						</div>
					</li>
					<li>
						<div id="payer-text" class="application-text">
							<a href="#photo3">
							<h3 id="payer-header">3. Donne ton avis</h3>
							<p id="payer-p">Estime le niveau des Uniters pour que les autres Animateurs puissent choisir</p>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

<!-- avantages -->
	<div id="avantages-anim"class="container avantages bg-white padded text-center">
		<h2>Pourquoi rejoindre UNIT ?</h2>
		<div class="row">
			<ul class="list-unstyled">
				<div class="col-xs-12 col-sm-6 col-md-4 carte-avantages">
					<li>
						<%= image_tag "flexibilite.png" %>
						<h4>Flexibilité</h4>
						<p>Poste ta séance quand tu le souhaites : c'est toi le boss, tu décides quand tu travailles</p>
					</li>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 carte-avantages">
					<li>
						<%= image_tag "money.png" %>
						<h4>Bonne rémunération</h4>
						<p>Reçois 24 € pour 1 h 30 d'animation, ce qui revient à 16 euros de l'heure !</p>
					</li>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 carte-avantages">
					<li>
						<%= image_tag "winning.png" %>
						<h4>Expérience pro</h4>
						<p>Facilite ton insertion professionnelle en gagnant de l'expérience pendant tes études</p>
					</li>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 carte-avantages">
					<li>
						<%= image_tag "lazy.png" %>
						<h4>Peu de préparation</h4>
						<p>Les séances sont standardisées, et UNIT s'occupe de ton assurance !</p>
					</li>
				</div>
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 carte-avantages">
					<li>
						<%= image_tag "communautaire.png" %>
						<h4>Réseau pro</h4>
						<p>Rencontre plein de sportifs : fais-toi des potes ou construis ton futur réseau pro</p>
					</li>
				</div>
			</ul>
		</div>
		<div class="padded-top text-center"><a href="#" class="btn btn-primary btn-lg btn-animateurs" data-toggle="modal" data-target=".com-animateurs">Rejoins la communauté des Animateurs</a></div>
	</div>

<!-- testimonials -->
	<div id="testimonials-anims" class="container bg-grid padded text-center">
		<h2>Ils en parlent mieux que nous... :)</h2>

		<div id="testimonials-animateurs">
			<div class="container">
				<div class="row">
					<ul class="list-unstyled text-center">
						<li class="margin-top">
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="testimonial">
									<%= image_tag "hugo.jpg", class:"img-circle img-testimonial" %>
									<h5 class="text-left name-testimonial">Hugo D.</h5>
									<h5 class="text-left note-testimonial"><em>" Le job parfait "</em></h5>
									<p class="quote-testimonial"><em>" Unit, ou comment mettre en pratique mes compétences dans une ambiance conviviale ! Quel plaisir ! "</em></p>
								</div>
							</div>
						</li>
						<li class="margin-top">
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="testimonial">
									<%= image_tag "marie.jpg", class:"img-circle img-testimonial" %>
									<h5 class="text-left name-testimonial">Marie D.</h5>
									<h5 class="text-left note-testimonial"><em>" Trop cool ! "</em></h5>
									<p class="quote-testimonial"><em>"  Enfin une solution compatible avec mes études ! Et gagner de l'argent grâce à sa passion c'est cool ;) "</em></p>
								</div>
							</div>
						</li>
						<li class="margin-top">
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="testimonial">
									<%= image_tag "paul.jpg", class:"img-circle img-testimonial" %>
									<h5 class="text-left name-testimonial">Paul C.</h5>
									<h5 class="text-left note-testimonial"><em>" Merci UNIT ! "</em></h5>
									<p class="quote-testimonial"><em>" Une vraie opportunité de me former : les Uniters veulent partager, découvrir, se perfectionner ! "</em></p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="padded-top text-center"><a href="#" class="btn btn-primary btn-lg btn-animateurs" data-toggle="modal" data-target=".com-animateurs">Rejoins la communauté des Animateurs</a></div>

	</div>

<!-- Modal -->
	<div class="modal fade com-animateurs" id="com-animateurs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Bienvenue cher Animateur !</h4>
		    </div>
	    	<div class="modal-body">   
				<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
				<div id="mc_embed_signup">
					<form action="//unit-sport.us13.list-manage.com/subscribe/post?u=94de85b124e04fadb2f10d1e5&amp;id=0d19f324cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    	<div id="mc_embed_signup_scroll">
							<div class="indicates-required">
								<span class="asterisk">*</span> indicates required
							</div>
							<div class="mc-field-group form-group">
								<label for="mce-FNAME">Prénom <span class="asterisk">*</span></label>
								<input type="text" value="" name="FNAME" class="form-control" placeholder="Zinédine" id="mce-FNAME">
							</div>
							<div class="mc-field-group">
								<label for="mce-LNAME">Nom <span class="asterisk">*</span></label>
								<input type="text" value="" name="LNAME" class="form-control" placeholder="Zidane" id="mce-LNAME">
							</div>
							<div class="mc-field-group">
								<label for="mce-EMAIL">Email <span class="asterisk">*</span></label>
								<input type="email" value="" name="EMAIL" class="required email form-control" placeholder="zinédine.zidane@gmail.com" id="mce-EMAIL">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;" aria-hidden="true">
						    	<input type="text" name="b_94de85b124e04fadb2f10d1e5_4855dc46bb" tabindex="-1" value="">
						    </div>
						    <div class="clear">
						    	<input type="submit" value="Rejoindre !" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
						    </div>
						</div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
	  	</div>
	  </div>
	</div>