---
title: Trouver une séance de sport accessible et sans contrainte !
---

<div id="body-seance"class="padded text-center">
	<h1 class="padding-top">Trouve la séance de tes rêves ! </h1>
	<p id="slogan">Choisis celle que tu préfères : c'est toujours <strong>6 € / personne</strong> pour 1h30 de bonheur</p>

	<div id="
	" class="seance_size">
		<div class="container d-flex p-2 seance_size">
			<div class="row seance_size">
				<ul class="list-inline seance_size">
					<% data.seances.each do |seance| %>
						<li class="col-xs-12 col-sm-6 col-md-4">
							<div class="seance text-center">
								<h3><%= seance.sport %></h3>
								<p class="text-left" id="seance-infos">
									<em>Le <%= seance.date %><br>Niveau <%= seance.niveau %> / <%= seance.objectif %></em>
								</p>
								<p id="seance-corps" class="text-left">
									<span>Animateur : <%= seance.name %> </span>
								</p>
								<div id="seance-image">
									<%= image_tag seance.image, class:"img-circle" %>
								</div>
								<p id="seance_descriptif" class="text-justify">
									<em>"<%= seance.descriptif %>"</em>
								</p>
								<p id="seance-lieu">
									<span>RDV :</span> <%= link_to seance.lieu, seance.adresse, target: "_blank" %>
								</p>
								<div id="seance-carte">
									<iframe width="100%" height="100px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0" src="https://maps.google.com/maps?f=q&source=s_q&hl=fr&geocode=&q=Les+Rivets,+43160+LA+CHAISE-DIEU,+FRANCE(Saint+Jean+des+Quatre+Couronn%C3%A9s)@<%= seance.coordonnes %>&ie=UTF8&z=14&t=m&iwloc=addr&output=embed" allowfullscreen>
									</iframe>
								</div>
								<p id="seance-places">
									<span>Il reste <%= seance.place %> place(s) disponible(s)</span>
								</p>
								<div id="seance-button">
									<a class="typeform-share button btn btn-primary btn-lg" href="<%= seance.typeform %>" data-mode="popup" target="_blank" > Je participe ! </a> <script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
								</div>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

<div id="insatisfaits" class="padded-top">
	<div class="padded-top"></div>
	<button class="btn btn-danger btn-lg btn-resize" data-toggle="modal" data-target="#modal-insatisfaits">
		Je ne trouve pas chaussure à mon pied...
	</button>
</div>

</div>

<!-- Modal seances -->
<div class="modal fade" id="modal-seance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">
	       		Participation à une séance UNIT 
	        </h4>
      </div>
      <div class="modal-body">	
		<!-- Change the width and height values to suit you best -->
		<div class="typeform-widget" data-url="https://unitsport.typeform.com/to/QpSUYO" data-text="Participation à une séance 01" style="width:100%;height:500px;"></div>
		<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

      </div>
    </div>
  </div>
</div>

<!-- Modal insatisfaits -->
<div class="modal fade" id="modal-insatisfaits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">
	       		Je ne trouve pas de séance qui me plait...
	        </h4>
      </div>
      <div class="modal-body">	
		<!-- Change the width and height values to suit you best -->
		<div class="typeform-widget" data-url="https://unitsport.typeform.com/to/O2B3gy" data-text="Je ne trouve pas de séance" style="width:100%;height:500px;"></div>
		<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

      </div>
    </div>
  </div>
</div>


<!-- Coordonnées GPS -->
<!-- Porte des enfants du Rhône : 
  lieu: Porte de enfants du Rhône
  adresse: https://www.google.fr/maps/place/Porte+des+Enfants+du+Rh%C3%B4ne/@45.778012,4.8460005,17z/data=!4m5!3m4!1s0x0:0xa79a7c343e94ca03!8m2!3d45.7772281!4d4.8452121
  coordonnes: 45.776912,4.8450005
--> 
<!-- Université Claude Bernard :
  lieu: Université Claude Bernard 
  adresse: https://www.google.fr/maps/place/45%C2%B046'56.9%22N+4%C2%B051'41.8%22E/@45.782483,4.8594303,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d45.782483!4d4.861619
  coordonnes: 45.782283,4.8619303
 --> 

<!-- Croix Paquet - Pente de la Croix Rousse : 
  lieu: Pente de la croix rousse
  adresse: https://www.google.com/maps/place/Croix-Paquet/@45.7710335,4.8349916,18z/data=!4m5!3m4!1s0x47f4eafb86a449a3:0x3a77393ce3e6eb03!8m2!3d45.7705989!4d4.8363233?hl=fr
  coordonnes: 45.7710335,4.8357916
 --> 








